Increase cache time for redirects

### Issue description
Increase the length of time redirect responses are cached in Akamai in order to reduce the number of trips to the Drupal server to get the same response.

- Permanent redirects (status 301) are currently cached for 15 minutes.
- Temporary redirects (status 302) are not cached.  (Example: the `/clinicaltrials` shortcut).

**Requirements question:** How long should each type of response be cached?

Changing the cache time for both redirect types requires modifying the return for  `ResponseCacheSubscriber::getTtlForStatus`.

Changing caching for temporary redirects is more complicated. The `max-age` value returned by Drupal (5 minutes) is ignored by Akamai. In order to honor that value, the Akamai configuration requires the `Cache HTTP Temporary Redirects` behavior.


### Related Tickets
* NCIOCPL/cgov-digital-platform-akamai#51

<details>
<summary>Research notes</summary>

[According to Akamai's docs](https://techdocs.akamai.com/property-mgr/docs/know-caching#redirects-from-origin), by default, 301 and 308 responses are cached the same as other content.  (Caching for 302 and 307 redirects would require adding the [Cache HTTP Temporary Redirects](https://techdocs.akamai.com/property-mgr/docs/cache-http-redirects) behavior)

[Normally, the `Cache-Control` and `Expires` headers are ignored.](https://techdocs.akamai.com/property-mgr/docs/know-caching#cache-control-and-expires-headers)

(Note: `Cache-Control` supersedes `Expires` [[RFC 9111, section 5.3](https://datatracker.ietf.org/doc/html/rfc9111#name-expires)])

**HOWEVER** We also have a caching behavior in the `Acquia` rule set to "Honor origin Cache-Control and Expires".

By default, [varnish caches redirects 15 minutes](https://acquia.my.site.com/s/article/360005818054-Adjusting-Caching-of-Redirects-in-Varnish), but setting a higher time cache time is honored and passed through.  (That link includes a 6-year-old patch for core without an issue number. It _may_ be [3054821](https://www.drupal.org/project/drupal/issues/3054821); in which case, it's already been merged.  I tested without the patch, and was able to get the desired response.)

In `cgov_core/src/EventSubscriber/ResponseCacheSubscriber.php` changing TTL for 301 status to 16588800 results in `cache-control: max-age=16588800, public` being sent back.

The origin servers do not send the `Edge-Cache-Tag` header for 301 redirects. (The 301 status means permanent, so arguably, there should not be a cache tag.)

Regarding redirects that add a query parameter:

There are presently 29 redirects on production where the response includes a query parameter.
Of those, 28 are for cancer-currents-blog, redirecting a path-based topic to a query string. (e.g. `/news-events/cancer-currents-blog/childhood-cancer` redirects to `/news-events/cancer-currents-blog?topic=childhood-cancer`)
</details>
